:root {
  --jan-bg: #333;
  --feb-bg: rgb(99, 1 , 11);
  --highlight-color: #eeeeee;
}

body {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}

.jan-wrapper {
  background-color: var(--jan-bg);
}

.feb-wrapper {
  background-color: var(--feb-bg);
}

.hero-nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: .75em;
}

.hero-nav,
.event-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: .75em;
  border-radius: 7px;
  background-color: var(--highlight-color);
}

.event-menu {
  transform: scale(0);
  transition: transform 1s ease;
  margin-bottom: 3em;
}

.hero-nav > button,
.event-menu > button {
  background-color: transparent;
  border: none;
  font-family: 'Source Code Pro', monospace;
  font-size: clamp(.7rem, 2vw, 1rem);
  font-weight: bold;
  cursor: pointer;
}

.hero-nav > button:hover,
.event-menu > button:hover,
.hero-nav > button:focus,
.event-menu > button:focus {
  text-decoration: underline;
}

.hero-nav a,
.event-menu a {
  text-decoration: none;
  color: #000;
}

.hero-nav a:hover,
.event-menu a:hover,
.hero-nav a:focus,
.event-menu a:focus {
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.container-finds {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

img {
  object-fit: cover;
}

.main-img-jan img {
  height: 600px;
  width: 450px;
}

.main-img-feb img {
  height: 600px;
  width: 600px;
}

.main-img img {
  border: 5px solid #fff;
  padding: 10px;
}

@media (max-width: 650px) {
  .main-img img {
    height: 360px;
    width: 300px;
  }
}

.imgs img {
  width: 200px;
  height: 200px;
  border: 3px solid #fff;
  cursor: pointer;
}

.imgs {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.fade {
  opacity: 0;
  animation: fade .5s ease-in 1 forwards;
}

.finds-gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  margin-top: 8em;
}

@media (max-width: 1000px) {
  .finds-gallery {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .gallery-img:hover {
    flex: 13;
  }
}

.gallery-img {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: flex 0.8s ease;
  border: 1px solid #fff;
}

.gallery-img:hover {
  flex: 10;
}