:root {
  --primary-color: rgb(34, 40, 49);
  --secondary-color: rgb(45, 64, 89);
  --accent-color: rgb(255, 87, 34);
  --highlight-color: #eeeeee;
  --clr-black: #000;
  --primary-font: 'Readex Pro', sans-serif;
  --nametag-font: 'Abril Fatface', cursive;
  --page2-font: 'Bebas Neue', cursive;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero::before {
  content: '';
  background: url('media/showcase02.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
}

.hero-nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.hero-nav,
.event-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: .75em;
  border-radius: 7px;
  background-color: var(--highlight-color);
}

.event-menu {
  transform: scale(0);
  transition: transform 1s ease;
}

.hero-nav > button,
.event-menu > button {
  background-color: transparent;
  border: none;
  font-family: 'Source Code Pro', monospace;
  font-size: clamp(.8rem, 2vw, 1rem);
  font-weight: bold;
  cursor: pointer;
}

.hero-nav > button:hover,
.event-menu > button:hover,
.hero-nav > button:focus,
.event-menu > button:focus {
  text-decoration: underline;
}

.hero-nav a,
.event-menu a {
  text-decoration: none;
  color: #000;
}

.mobile-nav-wrapper {
  display: none;
}

.hero-intro {
  background: var(--highlight-color);
  border-radius: 7px;
  /* margin: .5em .3em 0 .3em; */
}

.intro-message {
  font-family: 'Source Code Pro', monospace;
  padding: .75em;
  font-size: clamp(.8rem, 2vw, 1rem);
  width: max-content;
  position: relative;
  margin: auto;
}

/* @media (max-width: 490px) {
  .intro-message {
    font-size: .65rem;
    padding: .5em;
  }
}
@media (max-width: 390px) {
  .intro-message {
    font-size: .6rem;
    padding: .5em;
  }
} */

.intro-message::before,
.intro-message::after {
  content: '';
  position: absolute;
}

/* creating background to run across text */
.intro-message::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--highlight-color);
  border-radius: 7px;
  animation: typewriter 4s steps(56) 2s forwards;
}

/* creating blinking cursor */
.intro-message::after {
  top: 15%;
  bottom: 15%;
  left: .75em;
  width: 0.125em;
  height: 70%;
  background: black;
  animation: typewriter 4s steps(56) 2s forwards, cursor 500ms steps(56) infinite;
}

@keyframes typewriter {
  to {
    left: 98%;
  }
}

@keyframes cursor {
  to {
    background: transparent;
  }
}

@media (max-width: 1140px) {
  .hero-content {
    display: none;
  }
  .mobile-nav-wrapper {
    display: block;
  }
  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 1em;
    font-family: 'Source Code Pro', monospace;
    background-color: #fff;
    position: relative;
  }
  .mobile-nav > h1 > a {
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
  }
  .mobile-nav button,
  .mobile-nav-menu button {
    background: transparent;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
  }
  .mobile-nav-menu a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
  }
  .mobile-nav-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 90vh;
    width: 70%;
    background-color: rgba(255, 255, 255, .75);
    transform: translateX(100%);
    transition: transform .8s linear;
  }
  .menu-page-one,
  .menu-page-two {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.3em;
    transition: transform .8s linear;
  }
  .menu-page-two {
    transform: translateX(200%);
  }
  .menu-page-one hr {
    width: 100%;
    height: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .page-forward i,
  .page-back i {
    animation: icon 1.5s infinite forwards;
  }
}

.about {
  padding: 1em;
  background-color: var(--clr-black);
}

.about-intro {
  font-family: var(--primary-font);
  color: var(--highlight-color);
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 1.6;
  text-align: center;
  margin-top: 2em;
  margin-bottom: clamp(4em, 10vh, 8em);
  padding: clamp(1em, 3vw, 5em);
  border: 4px solid var(--highlight-color);
  position: relative;
}

.about-intro > article > p > a {
  color: var(--highlight-color);
}

.about-intro .january {
  font-size: clamp(1.1rem, 2vw, 1.45rem);
}

/* to create corner borders */
.about-intro::before,
.about-intro::after {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--clr-black);
}

.about-intro::before {
  top: -0.3em;
  bottom: -0.3em;
  left: 1em;
  right: 1em;
}

.about-intro::after {
  left: -0.3em;
  right: -0.3em;
  top: 1em;
  bottom: 1em;
}

.about-intro > article {
  position: relative;
  z-index: 100;
}
/* end of border styles */

.gallery-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery-arrows > button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.gallery-arrows > button > i {
  color: var(--highlight-color);
  font-size: 1.25rem;
}

.gallery-arrows > button > i:hover,
.gallery-arrows > button > i:focus {
  transform: scale(1.1);
}

.gallery-arrows .view-gallery {
  color: var(--highlight-color);
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: 2px;
}

.gallery-arrows .view-gallery:hover,
.gallery-arrows .view-gallery:focus {
  color: white;
}

.gallery {
  position: relative;
  overflow: hidden;
  height: 180px;
  margin: 0 auto;
}

.gallery-slide {
  list-style: none;
  position: relative;
  transition: transform 250ms ease-in;
}

.gallery-slide > li {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1.25em .3em;
  transition: all 0.7s linear;
}

.gallery-slide > li > img {
  object-fit: cover;
}

.gallery-slide > li > img:hover,
.gallery-slide > li > img:focus {
  transform: scale(1.05);
  transform-origin: bottom;
}

.img-edit-2 {
  object-fit: cover;
  object-position: center 35%;
}

/* section defaults */
.club-officers,
.board-of-directors,
.advertisement,
.resources {
  background-color: var(--highlight-color);
  padding: clamp(2em, 5vw, 6em);
}

/* grid layout from here to bottom of document */
@media (min-width: 1000px) {
  .content-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "members advertisement"
      "members resources";
    background-color: var(--clr-black);
    padding: 5em 1em 1em 1em;
  }
  .members-container { grid-area: members; }
  .advertisement { grid-area: advertisement; }
  .resources { grid-area: resources; }
}

/* club members section */
.heading {
  text-align: center;
  background-color: var(--clr-black);
  color: var(--highlight-color);
  font-family: var(--primary-font);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: .75em;
  margin: 1em 0;
  transform: skew(20deg);
}

.id-container {
  margin: 1.25em 0;
}

.officer-title {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
  font-size: 0.9rem;
}

.nametag {
  font-family: var(--nametag-font);
  font-size: max(2.2rem, 3rem);
  color: var(--clr-black);
}

.last-name {
  color: var(--highlight-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--clr-black);
}

/* amazon advertisement */
.advertisement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.advertisement > p {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  color: var(--clr-black);
  text-align: center;
}

/* resources */
.resource-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.resource-links > button {
  padding: .75em 1.25em;
  border: none;
  border-radius: 7px;
}

.resource-links > button > a {
  font-family: var(--primary-font);
  font-size: 1.15rem;
  color: var(--primary-color);
  text-decoration: none;
}

.resource-links > button > a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.resource-links > button > a > span > i {
  font-size: 1rem;
  color: var(--primary-color);
  animation: icon 1.5s infinite forwards;
}

.resource-links .icon {
  margin-left: .75em;
}

/* moving icon animation */
@keyframes icon {
  0%, 100% {
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}




