:root {
  --home-main: rgba(255, 130, 0, 0.5);
  --home-lt: rgba(255, 130, 0, 0.2);
  --blue-clr: rgb(110, 110, 196);
  --intro-font: 'Source Code Pro', monospace;
  --main-font: 'Quicksand', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--home-main);
  overflow-x: hidden;
  position: relative;
}

html {
  line-height: 1.6;
  font-family: var(--main-font);
}

.container {
  background-color: #fff;
  max-width: 1100px;
  margin: 0 auto;
}

/* presets */
h1, h2, h3, h4, p, a, li, span {
  color: #222;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section, main {
  padding: 1em;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

/* intro section */
.quote-box {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content > img {
  margin: 3em 0;
}

.intro-message {
  font-family: 'Source Code Pro', monospace;
  font-size: clamp(.85rem, .5rem + 1vw, 1.35rem);
  width: max-content;
  position: relative;
}

.intro-message::before,
.intro-message::after {
  content: '';
  position: absolute;
}

/* creating background to run across text */
.intro-message::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  animation: typewriter 4s steps(56) 2s forwards;
}

/* creating blinking cursor */
.intro-message::after {
  top: 15%;
  bottom: 15%;
  left: 0;
  width: 0.125em;
  height: 70%;
  background: black;
  animation: typewriter 4s steps(56) 2s forwards, cursor 500ms steps(56) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes cursor {
  to {
    background: transparent;
  }
}

.hero-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-links {
  width: 70%;
  padding: 8px 0;
}

.nav-links > li {
  margin: .75em 0;
  width: 100%;
  padding: 8px;
}

.nav-links > li:hover,
.nav-links > li:focus {
  background-color: #eee;
}

/* info section */
.club-info {
  margin: 4em 0;
  width: 100%;
}

.slide-container {
  width: clamp(440px, 660px, 95%);
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.slide {
  height: 100%;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 3em;
}

.page-one {
  transform: scale(1);
  z-index: 10;
}

.slide-img {
  max-width: 100%;
  min-height: 270px;
}

.page-one-content {
  padding: 1em;
}

.page-one-content > h4,
.page-one-content > p {
  color: #333;
}

.next-page {
  cursor: pointer;
}

.pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 20;
}

.pagination > button {
  background-color: #fff;
  padding: .75em 1.25em;
  color: #222;
  font-size: 1.3rem;
  border: none;
  margin: 0;
  cursor: pointer;
}

.pagination > button:hover {
  background-color: #eef;
}

.pagination .active-slide {
  background-color: var(--home-main);
}

/* slideshow second page */
.club-officers {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}

.club-officers > h3 > span {
  color: #444;
  font-size: .8rem;
}

/* slideshow page three */
.page-three > h2 {
  text-align: center;
  margin: 2em 0;
}

.members-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: .75em;
  font-weight: bold;
  font-size: 1rem;
}

.youth-member {
  font-size: .8rem;
  color: #444;
}

.pg3-graphic {
  display: none;
}

@media (min-width: 700px) {
  .pg3-graphic {
    display: block;
    position: absolute;
    bottom: 3.5em;
    right: 1em;
  }
}

/* media scroller */
.club-title {
  text-align: center;
  margin: 12vh 0 30vh 0;
  font-size: clamp(5rem, 5rem + 1vw, 12rem);
  animation: colors 4s linear infinite;
}

@keyframes colors {
  0% {
    color: var(--home-main);
  }
  25% {
    color: var(--blue-clr);
  }
  50% {
    color: rgb(245, 71, 59);
  }
  75% {
    color: rgb(176, 196, 110);
  }
  100% {
    color: var(--home-main);
  }
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-columns: 36%; */
  gap: .8em;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {
  /* height: 340px; */
  width: 380px;
  margin-bottom: .65em;
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 5px;
  object-fit: cover;
}

.media-element-fix-1 {
  object-position: center 30%;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: .6rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.media-scroller::-webkit-scrollbar {
  height: 1em;
}

.media-scroller::-webkit-scrollbar-track {
  background: var(--home-lt);
  border-radius: 100vw;
  margin-block: .5em;
}

.media-scroller::-webkit-scrollbar-thumb {
  background: var(--home-main);
  border-radius: 100vw;
  border: 2px solid var(--home-lt);
  cursor: pointer;
}

/* club procedures */
.club-procedures {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 3em 1em;
  font-weight: bold;
}

.contact, .support {
  max-width: 500px;
}

.contact p {
  margin: 3em 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
}

.contact-form input, textarea {
  font-size: 1.15rem;
  padding: .55em;
  border-radius: 6px;
  border: 1px solid var(--home-lt);
  min-width: 280px;
}

.contact-form button {
  border: none;
  padding: .5em .75em;
  color: #fff;
  background-color: var(--home-main);
  border-radius: 6px;
  font-size: 1.15rem;
  cursor: pointer;
  transition: all .4s ease;
}

.contact-form button:hover {
  background-color: var(--home-lt);
  color: #222;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #9999;
}

.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  text-align: center;
}

.support img {
  box-shadow: 2px 2px 5px #ddd;
}

@media (min-width: 800px) {
  .club-procedures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .divider {
    min-height: 100vh;
    width: 1px;
    margin: auto 0;
    background-color: #9999;
  }
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 0 1em 0;
}

.resources > h2 {
  margin-bottom: 1em;
  text-align: center;
}

.resources-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  background-color: #eee;
  min-width: 70%;
  padding: 1em;
}

.resources-nav > a {
  width: 100%;
  padding: 8px;
}

.resources-nav > a:hover,
.resources-nav > a:focus {
  background-color: #fff;
}

.club-graphic {
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.club-graphic:nth-child(2) {
  max-width: 100%;
}

/* up button */
.up-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  padding: .4em;
  background-color: var(--blue-clr);
  position: fixed;
  bottom: 1em;
  right: 1em;
  cursor: pointer;
  z-index: 30;
}

.up-btn > a {
  color: #fff;
  font-size: 1.6rem;
}

/* tiny screens */
@media (max-width: 460px) {
  .intro-message {
    font-size: 1rem;
    width:auto;
    text-align: center;
  }
  .intro-message::before,
  .intro-message::after {
    display: none;
  }
  .slide-container {
    width: 300px;
    min-height: 130vh;
  }
  .slide-img {
    object-fit: cover;
  }
  .media-element {
    width: 300px;
  }
}