:root {
  --home-main: rgba(255, 130, 0, 0.5);
  --home-lt: rgba(255, 130, 0, 0.2);
  --blue-clr: rgb(110, 110, 196);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(../media/treasure.jpg) fixed;
  overflow-x: hidden;
  position: relative;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #fff;
  max-width: 1250px;
  margin: 0 auto;
}

/* presets */
section {
  padding: 1em;
}

section:not(#january-2022) {
  margin-top: 8em;
}

img {
  max-height: 300px;
  width:100%;
  cursor: pointer;
  display: inline-block;
  opacity: 0;
}

img.appear {
  opacity: 1;
  transition: opacity 300ms ease;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 8px #ccc;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5em;
  padding: 2em 0 2em 3em;
  list-style: none;
}

.nav-items > li > a {
  color: #222;
  border: 2px solid #777;
  padding: .45em 1em;
  font-size: 1.25rem;
  text-decoration: none;
}

.active-link {
  background-color: var(--home-lt);
}

.photo-gallery {
  width: 100%;
  columns: 4;
  column-gap: 5px;
}

#lightbox {
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

#lightbox img {
  max-width: 400px;
  max-height: 700px;
  padding: 4px;
  background-color: #000;
  border: 2px solid #fff;
  opacity: 1;
}


